@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&family=Syne:wght@700;800&display=swap");

:root {
  /* Design Tokens & Colors */
  --bg-space-950: #030014;
  --bg-space-900: #050515;

  --neon-cyan: #00f5ff;
  --neon-purple: #9d4edd;
  --neon-pink: #ff007f;

  --text-main: #f8fafc;
  --text-muted: #94a3b8;

  /* Typography */
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Syne", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-space-950);
  color: var(--text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-space-950);
}
::-webkit-scrollbar-thumb {
  background: rgba(157, 78, 221, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 245, 255, 0.5);
}
